[submodule "copilot-client.rs"]
	path = copilot-client.rs
	url = https://github.com/meta-introspector/copilot-client.rs
[submodule "rmcp-sdk"]
	path = rmcp-sdk
	url = https://github.com/modelcontextprotocol/rust-sdk
[submodule "services/meta-introspector"]
	path = services/meta-introspector
	url = https://github.com/meta-introspector/services/
[submodule "services/ai-agent-terraform"]
	path = services/ai-agent-terraform
	url = https://github.com/meta-introspector/ai-agent-terraform/
[submodule "services/n00b"]
	path = services/n00b
	url = https://github.com/meta-introspector/n00b
[submodule "rustdesk"]
	path = rustdesk
	url = https://github.com/RustDesk/RustDesk
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "sciter-js-sdk"]
	path = sciter-js-sdk
	url = https://gitlab.com/sciter-engine/sciter-js-sdk
[submodule "sccache_meta_introspector"]
	path = sccache_meta_introspector
	url = https://github.com/meta-introspector/sccache
[submodule "services/opentelemetry-rust"]
	path = services/opentelemetry-rust
	url = https://github.com/jmikedupont2/opentelemetry-rust
[submodule "gemini-rs"]
	path = gemini-rs
	url = https://github.com/meta-introspector/gemini-rs
[submodule "services/gemini-llm-proxy-rs"]
	path = services/gemini-llm-proxy-rs
	url = https://github.com/jmikedupont2/gemini-llm-proxy-rs

[submodule "dioxus"]
	path = dioxus
	url = https://github.com/DioxusLabs/dioxus/
[submodule "muda"]
	path = muda
	url = https://github.com/meta-introspector/muda
[submodule "tray-icon"]
	path = tray-icon
	url = https://github.com/meta-introspector/tray-icon
[submodule "solfunmeme-dioxus"]
	path = solfunmeme-dioxus
	url = https://github.com/meta-introspector/solfunmeme-dioxus
