[submodule "copilot-client.rs"]
	path = copilot-client.rs
	url = https://github.com/meta-introspector/copilot-client.rs
[submodule "rmcp-sdk"]
	path = rmcp-sdk
	url = https://github.com/modelcontextprotocol/rust-sdk
[submodule "services/meta-introspector"]
	path = services/meta-introspector
	url = https://github.com/meta-introspector/services/
[submodule "services/ai-agent-terraform"]
	path = services/ai-agent-terraform
	url = https://github.com/meta-introspector/ai-agent-terraform/
[submodule "services/n00b"]
	path = services/n00b
	url = https://github.com/meta-introspector/n00b
